.movementSelect-button {
    margin: 0;
    height: 100px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--text-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.workouts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 20px;
    width: fit-content;
    padding: 10px;
    box-sizing: border-box;
}

.sessionSelect-button {
    margin: 0;
    height: 100px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--text-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessionSelect-label {
    color: var(--text-on-primary);
}

.statsContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
