.workoutButtons{
  display: grid;
  margin: 0 auto;
  width:100%;
}
.workoutButtons button{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40%;
  max-width: 200px;
}
.selectedWorkout{
    margin: 0 auto;
}
.workoutTag {
    color: #4b8349;
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
}

.nav button {
    justify-content: center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 10px;
    height: 70px;
    width:70px;
}

.fade-anim {
    animation: fadeIn 1s;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.add {
  background-image: url('./assets/add.png');
  background-color: #30cc00;
}

.remove {
  background-image: url('./assets/remove.png');
  background-color: #f44336;
}

.prev {
  background-image: url('./assets/prev.png');
}

.next {
  background-image: url('./assets/next.png');
}