:root {
  font-family: 'Courier New', monospace;
  background-color: #e9bb43;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4b8349;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #e9bb43;
  box-shadow: 3px 3px 0 #000;
}

button:hover {
  transform: rotate(0deg) scale(1.05);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
