@font-face{
    font-family: 'Dazzle Unicase Bold';
    src: local('Dazzle Unicase Bold'),
        url('./assets/dazzle-unicase-bold.otf') format('opentype');
}

.nav {
    display: flex;
    justify-content: center;
    gap: 10px; /* No extra space between buttons */
}

.nav button {
    margin: 0;
}
